.link {
  padding: 5px;
  align-self: center;
  padding: 4px 16px;
  background: linear-gradient(35deg, #5b04be 75%, #1a0038b1);

  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;

  border-radius: 15px;
}

.calendarContainer {
  width: 100%;
}

.RangeExample {
  /* border-left: 1px #d722fc solid; */
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.RangeExample h3 {
  margin-left: 0;
}
.RangeExample p {
  min-height: 40px;
}
.today {
  background: #6504d4;
}
.today:hover:not([disabled]):not(.rdp-day_selected) {
  background: #6504d4;
}

.Total {
  text-align: center;
  font-size: 25px;
}

.Selectable {
  background-color: #6504d4;
  color: white;
}
.button:hover {
  background: #6504d4;
}

.Selectable:hover:not([disabled]):not(.rdp-day_selected) {
  background: #6504d4;
  color: #f0f0f0;
}
