.contenedor {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 5%;
  margin-top: 7%;
  padding: 10px;
  background: rgb(226, 200, 255);
  background: linear-gradient(
    330deg,
    rgba(226, 200, 255, 1) 17%,
    rgba(233, 213, 255, 1) 39%,
    rgba(239, 226, 255, 1) 66%,
    rgba(244, 235, 255, 1) 100%
  );
  border-radius: 15px;
  height: fit-content;
}
@media (max-width: 720px) {
  .contenedor{
    margin: 1rem;
    width: 90%;
  }
}
.title {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-size: 2.5rem;
  background: rgb(226, 200, 255);
  background: linear-gradient(
    330deg,
    rgba(226, 200, 255, 1) 17%,
    rgba(233, 213, 255, 1) 39%,
    rgba(239, 226, 255, 1) 66%,
    rgba(244, 235, 255, 1) 100%
  );
  border-radius: 15px;
  border: 2px #d0a6ff solid;
  text-align: center;
}

.btn {
  background-color: darkviolet;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  min-width: 70px;
  width: 40%;
  transition: 0.2s;
  text-align: center;
}

.btn :hover {
  background-color: #600677;
}

.containerButtons {
  display: flex;
  justify-content: space-evenly;
}

.btn-delete,
.btn-edit {
  background-color: tomato;
  color: black;
  border-radius: 10px;
  padding: 5px;
  width: 90px;
  text-align: center;
  margin: 5px 10px;
}

.btn-edit {
  background-color: skyblue;
}
