.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 550px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  gap: 20px;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 1rem auto;
  font-weight: 800;
  color: transparent;
  background: #ccc;
  background: linear-gradient(90deg, #43048a, #b574ff, #43048a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  background-color: #a455ff;
  border-radius: 10px;
  align-self: center;
  margin-top: 60px;
  font-weight: 700;
  padding: 10px;
}

.form label {
  margin-top: 1rem;
  font-size: 14px;
  color: #a455ff;
  font-weight: bold;
}

.form input,
.form textarea {
  margin-top: 10px;
  border-radius: 6px;
  padding: 5px;
  background: transparent;
  border: 1px solid #64075cdd;
  outline: none;
}

.form textarea {
  height: 120px;
  resize: none;
}
